@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

// Elements
@import './elements/header', './elements/main';
// Base
@import './base/reset', './base/vars';

body {
	background-color: var(--bg-color);
	font-family: 'Comfortaa', sans-serif;
}

.container {
	padding: 0 20px;
	width: 1240px;
	margin: 0 auto;
}

.none {
	display: none;
}

.btn {
	border-radius: 12px;
	color: #fff;
	padding: 10px;
	background-color: var(--btn-color);

	transition: background-color 0.2s ease, scale 0.2s ease;
	&:hover {
		background-color: #333d29;
		scale: 1.02;
	}
}
